<%- include('../partials/header') %>

<h2>Enter Ticket Information</h2>
    <form action="/flights/<%= flightId%>/tickets" method="POST">
        <label>Name:
            <input type="string" name="name">
        </label><br><br>
        <label>Seat:
            <input name="seat" required pattern="[A-F][1-9]\d?">
        </label><br><br>
        <label>Price:
            <input name="price" type="number" min="0" max="9999">
        </label><br><br>
        <input type="submit" value="Add Ticket">
    </form>

<%- include('../partials/footer') %>