<%- include('./partials/header') %>

    <title><%= title %></title>
    <h1 align="center"><%= title %> Lab</h1>
    <div id="mongoose">
        <img src="https://media.istockphoto.com/id/1318295413/vector/meerkat-animal-vector-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=7fcjyKJFZ1KsVjdwy_YUB4BeB-BhK-ZVPzx1HCfu1Ng=">
        <img src="https://static.vecteezy.com/system/resources/previews/016/132/377/original/cartoon-airplane-icon-in-comic-style-plane-illustration-pictogram-aircraft-splash-business-concept-vector.jpg">
    </div>

<%- include('./partials/footer') %>
