body {
  padding: 50px;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
}

a {
  color: #00B7FF;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid blue;
}

th {
  text-decoration: underline;
}

td {
  text-align: center;
}

nav {
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  margin: 5px;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button, select, input {
  font-size: 18px;
}